.item {
	position: relative;
	top: 0;
	left: 0;
	height: 35px;
	width: 100%;
	margin-top: 6px;
}

.item-active {
	color: #1DB954;
}

.sidebar-item {
	position: absolute;
	left: 20%;
	top: 0;
	width: 85%;
	height: 100%;
	text-decoration: none;
	color: white;
}

a {
	text-decoration: none;
}


a:hover {
	color: white;
}

.item-icon {
	position: absolute;
	width: 15%;
	height: 100%;
	left: 0;
	top: 0;
	/*border: 1px solid blue;*/
	display: flex;
	justify-content: flex-end;
}


